body {
  /* border: 5px solid black; */
  background-color: lightblue;
  margin: 0;
  padding: 0;
}

.overlay-search-button {
  margin: 5px;
}

.temporary{
  height:600px;
  width:50%;
  background-color: black;
  color:white;
  padding: 20px;
  white-space: pre-line;
}

.favorites-outer {
  position:fixed;
  top:0;
  right:0;
  height: 100vh;
  width: 50%;
  background-color: white;
  padding: 10px;
  overflow: scroll;
}

.favorites-title {
  position: relative;
  top: 0px;
  left: 10px;
  width: 100%;
  line-height: 20px;
  
}

.pokemon-card-slot{
  position: relative;
  display: inline-block;
  /* border: 1px solid blue; */
  width: 220px;
  height: 280px;
  background-color: white;
  text-align: center;
  overflow: hidden;
}